<div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
    <% if (data[i].itemImage == "images/produce/") { %>
        <img src="images/produce/z-image-not-available.jpg" width="200">
    <% } else { %>
    <img src=<%= data[i].itemImage %> width="200">
    <% } %>
    <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
        <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
            <% if (data[i].weighedItem == true) { %>
            <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                <% } else { %>
            <h4><%= data[i].itemPrice %>/ea</h4>
            <% } %>
            <form action="/store-system/webstore-shop" method="POST"></form>
                <label for="quantity-<%= data[i].itemCode %>">Quantity: </label>
                <input id="quantity-<%= data[i].itemCode %>" class="price-and-amount-quantity" name="quantity" type="number" min="0">
                <input id="order-code" value="<%= data[i].itemCode %>" name="itemPluCode" style="visibility: hidden;">>
                <input type="submit" class="add-to-order-button" value="add to order">
            </form>
        </div>
</div>