<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nessumsar Retail Package - Web Store</title>
    <link rel="stylesheet" type="text/css" href="public/css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="public/css/webstore.css">
</head>
<body>
    <header>
        <div id="header-left">
            <h2 id="store-name"></h2>
        </div>
    
        <div id="header-center">
            <h4 id="search-number-of-items">Search from <%= data.length %> items!</h4>
            <form action="/webstore-search" method="POST">
                <label for="itemCode"></label><input type="text" name="itemCode" id="itemCode" placeholder="enter a PLU or UPC code here"> <small>OR</small>
                <label for="itemDescription"></label><input type="text" name="itemDescription" id="itemDescription" placeholder="enter the item name here">
                <input type="submit" value="search">
            </form>
        </div>
        <div id="header-right">
    
            <% let newCategoryArray = []; %>
            <% let newDepartmentArray = []; %>
    
    
            <form action="/webstore-departments" method="POST">
            <h4 id="shop-by-department"><label for="categories">Choose a product category:</label></h4>
            <select name="itemDepartment" id="itemDepartment">
                <option value="null">Select A Department</option>
                <option value="Produce">Produce</option>
                <option value="Meat">Meat</option>
                <option value="Bulk">Bulk</option>
            </select>
            <input type="submit" value="Submit">
            </form>
        </div>
    </header>
    
        <div id="below-header"><div id="category-dropdown"></div><span id="shopping-cart"> items in cart</span> | <span id="view-your-cart">view your cart</span> | <span id="proceed-to-checkout">proceed to checkout</span></div>
    
        <div id="shopping-cart-window"></div>
    
        
        <main id="products">
            <div id="food-products" class="food-items">
    
                <% for (let i = 0; i < data.length; i++)  { %>
                    <%     newCategoryArray.push(data[i].itemCategory); %>
                    <%     newDepartmentArray.push(data[i].itemDepartment); %>
                    <% } %>
            
                    <% let uniqueCategoryList = [...new Set(newCategoryArray)] %>
                    <% uniqueCategoryList.sort(); %>
    
                    <% let uniqueDepartmentList = [...new Set(newDepartmentArray)] %>
                    <% uniqueDepartmentList.sort(); %>
    
                    <!-- NEW SHOW-CERTIAN-THINGS WAY TO DISPLAY SITE -->
                    <div id="meat-features" class="food-category-section">
                    <h2>Great Weekly Sales on Meat items!</h2>
    
                    
                    <% for(var i = 0; i < data.length; i++) { %>
                        
                        <% if (data[i].itemDepartment == "Meat" && data[i].promo == true)  { %>
                            
                            <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
                            
                                <% if (data[i].itemImage == "images/produce/") { %>
                                    <img src="images/produce/z-image-not-available.jpg" width="200">
                                <% } else { %>
                                <img src=<%= data[i].itemImage %> width="200">
                                <% } %>
                                <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                    <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                        <% if (data[i].weighedItem == true) { %>
                                        <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                            <% } else { %>
                                        <h4><%= data[i].itemPrice %>/ea</h4>
                                        <% } %>
                                        <label for="quantity-<%= data[i].itemCode %>">Quantity: </label>
                                        <input id="quantity-<%= data[i].itemCode %>" type="number" min="0">
                                    </div>
                                <button>add to order</button>
                            </div>
                        <% } %>
                    <% } %>
                    </div>
    
                    <div id="produce-features" class="food-category-section">
                    
    
                    
                    <% for(var i = 0; i < data.length; i++) { %>
                        
                        <% if (data[i].itemDepartment == "Produce" && data[i].promo == true)  { %>
                        <h2>Great Weekly Sales on Produce items!</h2>
                            <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
                                <% if (data[i].itemImage == "images/produce/") { %>
                                    <img src="images/produce/z-image-not-available.jpg" width="200">
                                <% } else { %>
                                <img src=<%= data[i].itemImage %> width="200">
                                <% } %>
                                <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                    <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                        <% if (data[i].weighedItem == true) { %>
                                        <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                            <% } else { %>
                                        <h4><%= data[i].itemPrice %>/ea</h4>
                                        <% } %>
                                        <label for="quantity-<%= data[i].itemCode %>">Quantity: </label>
                                        <input id="quantity-<%= data[i].itemCode %>" type="number" min="0">
                                    </div>
                                <button>add to order</button>
                            </div>
                        <% } %>
                    <% } %>
                    </div>
                    
                    <!-- END NEW SHOW-CERTIAN-THINGS WAY TO DISPLAY SITE -->
    
                    <!-- OLD SHOW-EVERYTHING WAY TO DISPLAY SITE -->
                    <% Object.keys(uniqueCategoryList).forEach(function(item) { %>
                    <div id="<%= uniqueCategoryList[item] %>" class="food-category-section">
                        <h2><%= uniqueCategoryList[item] %></h2>
                        <a name="<%= uniqueCategoryList[item] %>"></a>
    
                        
                        <% for(var i = 0; i < data.length; i++) { %>
                            <% if (data[i].itemCategory == (uniqueCategoryList[item]))  { %>
                                <form action="webstore-shop" method="POST">    
                                    <div id="food-item-<%= data[i].itemCode %>" value="<%= data[i].itemCode %>" name="itemPluCode" class="food-item-section">
                                        <% if (data[i].itemImage == "images/produce/") { %>
                                            <img src="images/produce/z-image-not-available.jpg" width="200">
                                        <% } else { %>
                                        <img src=<%= data[i].itemImage %> width="200">
                                        <% } %>
                                        <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                            <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                                <% if (data[i].weighedItem == true) { %>
                                                <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                                    <% } else { %>
                                                <h4><%= data[i].itemPrice %>/ea</h4>
                                                <% } %>
                                                    <label for="quantity-<%= data[i].itemCode %>">Quantity: </label>
                                                    <input id="quantity-<%= data[i].itemCode %>" name="quantity-<%= data[i].itemCode %>" type="number" min="0">
                                                    <!--<input type="submit" value="add to order">-->
                                            </div>
                                        <button>add to order</button>
                                    </div>
                                </form>
                            <% } %>
                        <% } %>
                        
                        <div class="jump-to-category">
                            <div class="half-width">
                                <h4 id="shop-by-category"><label for="categories">Jump to product category:</label></h4>
                                <select name="itemCategory" id="itemCategory">
                                    <option value="null">Select A Category</option>
                                    <% for(var i = 0; i < uniqueCategoryList.length; i++) { %>
                                        <option value="<%= uniqueCategoryList[i]%>" href="#<%= uniqueCategoryList[i]%>"><%= uniqueCategoryList[i]%></option>
                                    <% } %>
                                </select>
                                <input type="submit" value="GO">
                            </div>
                            <div class="half-width">
                                <form action="webstore-search" method="POST">
                                    <h4 id="shop-by-department"><label for="departments">Jump to another Department:</label></h4>
                                    <select name="itemDepartment" id="itemDepartment">
                                        <option value="null">Select A Department</option>
                                        <% for(var i = 0; i < uniqueDepartmentList.length; i++) { %>
                                            <option value="<%= uniqueDepartmentList[i]%>" href="#<%= uniqueDepartmentList[i]%>"><%= uniqueDepartmentList[i]%></option>
                                        <% } %>
                                    </select>
                                    <select name="itemCategory" id="itemCategory">
                                        <option value="null">Select A Category</option>
                                        <% for(var i = 0; i < uniqueCategoryList.length; i++) { %>
                                            <option value="<%= uniqueCategoryList[i]%>" href="#<%= uniqueCategoryList[i]%>"><%= uniqueCategoryList[i]%></option>
                                        <% } %>
                                    </select>
                                    <input type="submit" value="GO">
                                </form>
                            </div>
                        </div>
                        
                    </div>  
                    <% }) %>
                    <!-- END OLD SHOW-EVERYTHING WAY TO DISPLAY SITE -->
            </div>
        </main>
    
        <div id="item-code-test">
            <h3 id="item-name"></h3>
        </div>






<script>
    let foodProducts = produce;
    let shoppingCart = [];
    document.getElementById('shopping-cart').innerText = 'Items in your cart: ' + shoppingCart.length;
</script>


<!-- STORE DATA CONFIG FILE-->
<script src="data/site-data-config.js"></script>

<!-- ADD ITEMS TO CART -->
<script src="scripts/webstore-add-to-cart.js"></script>

<!-- VIEW CART CONTENTS -->
<script src="scripts/webstore-view-cart-contents.js"></script>

<!-- HIDE CART CONTENTS -->   
<script src="scripts/webstore-hide-cart-contents.js"></script>

<!-- EVENT LISTENERS -->  
<script>
    document.getElementById('view-your-cart').addEventListener('click', viewCartContents);

    document.getElementById('search-site').addEventListener('click', globalProductSearch);
</script>

</body>
</html>