<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nessumsar Retail Package - Web Store Search Results</title>
    <link rel="stylesheet" type="text/css" href="public/css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="public/css/webstore.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>

    <% let newCategoryArray = []; %>
<% let newDepartmentArray = []; %> 

<!-- HEADER PARTIAL START -->

<%- include('../views/partials/partials-header.ejs') %>

<!-- HEADER PARTIAL END -->

<h1>Results Page</h1>

<% if(response.length > 1)  { %>
  <h3><%= response.length %> results found for "<%= itemCategoryFormField %><%= itemCodeFormField %><%= itemDescriptionFormField %>". Yum Yum!</h3>
  <% } else if (response.length == 1)  { %>
    <h3><%= response.length %> result found for "<%= itemCategoryFormField %><%= itemCodeFormField %><%= itemDescriptionFormField %>". Yum!</h3>
    <% } else { %>
      <h3>Sorry, no items with that UPC or PLU code, or description, were found. Please try again.</h3>
    <% } %>

 

<main id="products">
  <div id="food-products" class="food-products">
    <div id="search-results" class="food-category-section">
    <% for(var i = 0; i < response.length; i++) { %>
    <!-- begin item card -->
<form action="/store-system/webstore-add-to-cart" method="POST">
  <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
      <% if (data[i].itemImage == "images/produce/") { %>
          <img src="images/produce/z-image-not-available.jpg" width="200">
      <% } else { %>
      <img src=<%= data[i].itemImage %> width="200">
      <% } %>
      <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
          <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
              <div class="price-and-amount-form">
                  <% if (data[i].weighedItem == true) { %>
                      <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                          <% } else { %>
                      <h4><%= data[i].itemPrice %>/ea</h4>
                      <% } %>
                      
                          <label for="quantity">Quantity: </label>
                          <input type="number" name="quantity" class="price-and-amount-quantity" min="0">
                          <input type="text" value="<%= data[i].itemCode %>" name="itemPluCode" style="display: none;">
              </div>
                  <input type="submit" class="add-to-order-button" value="add to order">
          </div>
  </div>
</form>
<!-- end item card -->
    <% } %>
  </div>
</main>

<!-- STORE DATA CONFIG FILE-->
<script src="data/site-data-config.js"></script>