<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nessumsar Retail Package - Web Store</title>
    <link rel="stylesheet" type="text/css" href="public/css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="public/css/webstore.css">
    <link rel="stylesheet" type="text/css" href="css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="css/webstore.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>

    <% let newCategoryArray = []; %>
<% let newDepartmentArray = []; %> 

<!-- HEADER PARTIAL START -->

<%- include('../views/partials/partials-header.ejs') %>

<!-- HEADER PARTIAL END -->

    <section id="hero-image">
        <div id="hero-text-and-item">
            <div id="hero-message-large">
                <h2>Tis The Season!</h2>
                <h4>Find Christmas Favourites at Town Market</h4>
            </div>
            <div id="hero-feature-picture">
                <div id="hero-feature-picture-left"><img src="public/images/produce/squash-butternut.jpg" width="200px" height="200px"></div>
                <div id="hero-feature-picture-right">
                    <h3>Butternut Squash</h3>
                    <h5>Locally Grown!</h5>
                    <h3>$0.89/lb</h3>
                </div>
            </div>
            
        </div>
    </section>

    <!-- SEARCH BAR START -->
    <%- include('../views/partials/partials-search-store-items.ejs') %>
    <!-- SEARCH BAR END -->

    <main id="products">
        <div id="food-products" class="food-items">

            <% for (let i = 0; i < data.length; i++)  { %>
                <%     newCategoryArray.push(data[i].itemCategory); %>
                <%     newDepartmentArray.push(data[i].itemDepartment); %>
                <% } %>
        
                <% let uniqueCategoryList = [...new Set(newCategoryArray)] %>
                <% uniqueCategoryList.sort(); %>

                <% let uniqueDepartmentList = [...new Set(newDepartmentArray)] %>
                <% uniqueDepartmentList.sort(); %>

                <!-- MEAT FEATURES -->
                <div id="meat-features" class="food-category-section food-category-front-page-feature">
                    <h2><span class="hide-on-mobile">Great Weekly Sales on </span>Meat <span class="hide-on-mobile">items!</span></h2>

                    <% for(var i = 0; i < data.length; i++) { %>
                        
                        <% if (data[i].itemDepartment == "Meat" && data[i].promo == true)  { %>
                            <!-- begin item card -->
                            <form action="/store-system/webstore-add-to-cart" method="POST">
                                <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
                                    <% if (data[i].itemImage == "images/meat/") { %>
                                        <img src="images/produce/z-image-not-available.jpg">
                                    <% } else { %>
                                    <img src=<%= data[i].itemImage %> width="200">
                                    <% } %>
                                    <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                        <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                            <div class="price-and-amount-form">
                                                <% if (data[i].weighedItem == true) { %>
                                                    <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                                        <% } else { %>
                                                    <h4><%= data[i].itemPrice %>/ea</h4>
                                                    <% } %>
                                                    
                                                        <label for="quantity">Quantity: </label>
                                                        <input type="number" name="quantity" class="price-and-amount-quantity" min="0">
                                                        <input type="text" value="<%= data[i].itemCode %>" name="itemPluCode" style="display: none;">
                                            </div>
                                                <input type="submit" class="add-to-order-button" value="add to order">
                                        </div>
                                </div>
                            </form>
                            <!-- end item card --> 
                        <% } %>
                    <% } %>
                </div>

                <!-- PRODUCE FEATURES -->
                <div id="produce-features" class="food-category-section food-category-front-page-feature">
                    <h2><span class="hide-on-mobile">Great Weekly Sales on </span>Produce <span class="hide-on-mobile">items!</span></h2>

                    <% for(var i = 0; i < data.length; i++) { %>
                        
                        <% if (data[i].itemDepartment == "Produce" && data[i].promo == true)  { %>
                            <!-- begin item card -->
                            <form action="/store-system/webstore-add-to-cart" method="POST">
                                <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
                                    <% if (data[i].itemImage == "images/produce/") { %>
                                        <img src="images/produce/z-image-not-available.jpg">
                                    <% } else { %>
                                    <img src=<%= data[i].itemImage %> width="200">
                                    <% } %>
                                    <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                        <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                            <div class="price-and-amount-form">
                                                <% if (data[i].weighedItem == true) { %>
                                                    <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                                        <% } else { %>
                                                    <h4><%= data[i].itemPrice %>/ea</h4>
                                                    <% } %>
                                                    
                                                        <label for="quantity">Quantity: </label>
                                                        <input type="number" name="quantity" class="price-and-amount-quantity" min="0">
                                                        <input type="text" value="<%= data[i].itemCode %>" name="itemPluCode" style="display: none;">
                                            </div>
                                                <input type="submit" class="add-to-order-button" value="add to order">
                                        </div>
                                </div>
                            </form>
                            <!-- end item card --> 
                        <% } %>
                    <% } %>
                </div>


                 <!-- GROCERY FEATURES -->
                 <div id="grocery-features" class="food-category-section food-category-front-page-feature">
                    <h2><span class="hide-on-mobile">Great Weekly Sales on </span>Grocery <span class="hide-on-mobile">items!</span></h2>

                    <% for(var i = 0; i < data.length; i++) { %>
                        
                        <% if (data[i].itemDepartment == "Grocery" && data[i].promo == true)  { %>
                            <!-- begin item card -->
                            <form action="/store-system/webstore-add-to-cart" method="POST">
                                <div id="food-item-<%= data[i].itemCode %>" class="food-item-section">
                                    <% if (data[i].itemImage == "images/grocery/") { %>
                                        <img src="images/produce/z-image-not-available.jpg">
                                    <% } else { %>
                                    <img src=<%= data[i].itemImage %> width="200">
                                    <% } %>
                                    <h3> <%= data[i].itemDescription %> <%= data[i].itemType %></h3>
                                        <div id="price-amount-<%= data[i].itemCode %>" class="price-and-amount">
                                            <div class="price-and-amount-form">
                                                <% if (data[i].weighedItem == true) { %>
                                                    <h4><%= (data[i].itemPrice * 0.454).toFixed(2) %>/lb</h4>
                                                        <% } else { %>
                                                    <h4><%= data[i].itemPrice %>/ea</h4>
                                                    <% } %>
                                                    
                                                        <label for="quantity">Quantity: </label>
                                                        <input type="number" name="quantity" class="price-and-amount-quantity" min="0">
                                                        <input type="text" value="<%= data[i].itemCode %>" name="itemPluCode" style="display: none;">
                                            </div>
                                                <input type="submit" class="add-to-order-button" value="add to order">
                                        </div>
                                </div>
                            </form>
                            <!-- end item card -->  
                        <% } %>
                    <% } %>
                </div>
                
                <!-- END NEW SHOW-CERTAIN-THINGS WAY TO DISPLAY SITE -->

               
        </div>
    </main>

    <!-- FOOTER PARTIAL START -->

    <%- include('../views/partials/partials-footer.ejs') %>

    <!-- FOOTER PARTIAL END -->

</body>
</html>
